<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles//styles.css" />
    <title>Vanilla Todo</title>
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <a
          href="/view/archived.html"
          style="font-size: 1.9em; margin-bottom: 40px"
          >Go to archived</a
        >
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Category</th>
            <th>Content</th>
            <th>Dates</th>
            <th>Actions</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <button id="create-button" class="btn btn-outline-success">
        Create new
      </button>
    </div>
    <table class="table table-striped mt-4">
      <tr>
        <th>Category</th>
        <th>Active</th>
        <th>Archived</th>
      </tr>
      <tr>
        <td>Task</td>
        <td id="active-tasks"></td>
        <td id="archived-tasks"></td>
      </tr>
      <tr>
        <td>Random Thought</td>
        <td id="active-random-thoughts"></td>
        <td id="archived-random-thoughts"></td>
      </tr>
      <tr>
        <td>Idea</td>
        <td id="active-ideas"></td>
        <td id="archived-ideas"></td>
      </tr>
    </table>
    <script type="module" src="../active.js"></script>
  </body>
</html>
